@import url('https://fonts.googleapis.com/css?family=Mina');

* {box-sizing: border-box;}

$buttonNewGame: #000;

body {
	margin-top: 10px;
}

.container {
	padding-bottom: 45px;
	font-size: 18px;

	h3 {
		font-size: 32px;
	}

	.pick {
		font-size: 25px;
	}

	.fa {
		font-size: 25px;
	}
}

#js-newGameButton {
	font-size: 22px;
	font-weight: bold;
	border: 2px $buttonNewGame solid;
	background-image: linear-gradient(135deg, $buttonNewGame 50%, transparent 50%);
	background-position: 100% 0;
	background-size: 300%;
	color: $buttonNewGame;
	transition: 0.4s;
	animation: pulse 1s infinite;
	&:hover {
		background-position: 0 100%;
		color: white;
	}
}

.points {
	font-size: 18px;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}